div[ng-controller=CourseCtrl] {
	& > div {
		padding: $padding-large;
		
		@media(min-width: $screen-med) {
			display: flex;

			& > div:first-of-type {
				width: 60%;
			}

			& > div:last-of-type {
				margin-left: auto;
			}
		}
		
		@media(max-width: $screen-med) {
			img {
				width: 100%;
				margin-top: $padding-large;
			}
		}

		h3 {
			color: $green;
		}

		p:last-of-type {    
			margin-bottom: 60px;
			
			@media(max-width: $screen-med) {
				margin-bottom: $padding-large;
			}
		}

		.button {
			color: $white;
		}
	}	
}