div[ng-controller=EventsCtrl] {
	& > div {
		padding: $padding-large;
		display: flex;	
	
		@media(max-width: $screen-med) {
		    flex-wrap: wrap-reverse;
		}
	
		& > div:first-of-type {
			@media(min-width: $screen-med) {
				width: 60%;
			}

			&.single {
				width: 100%;
			}

			.event-info-container {

				display: flex;	
				flex-wrap: wrap;
				justify-content: space-between;

				& > div {
					
					margin-top: 36px;
					@extend .bold;

					h3 {
					    border-bottom: 1px solid $black;
					    margin: $padding-small 0 $padding-very-small 0;
					    font-weight: initial;
					}

					width: calc(50% - #{$padding});
				}
			}

			.event-info-img {
				margin-top: 60px;

				@media(max-width: $screen-med) {
					width: 100%;
				}

			}
		}

		& > div:last-of-type {
			
			@media(max-width: $screen-med) {
				margin-bottom: $padding-large;

				h2 {
					margin-bottom: $padding-small;
				}

				& > div:not(:last-of-type) {
					margin-bottom: $padding;
				}
			}

			@media(min-width: $screen-med) {
				width: 30%;
				margin-left: auto;
			}

			cursor: pointer;
			
			&.hide {
				display: none;
			}

			.events-brief {
				opacity: 0.3;
				transition: opacity 0.2s linear;

				&.active {
					opacity: 1;
				}

				h2 {
				    margin-top: 24px;
    				margin-bottom: 0;
    			}
			}
		}

		h3 {
			color: $green;
			padding-bottom: $padding-small;
		}

		& > div > h3 {
			border-bottom: 1px solid $green;
		}
	}	
}