div[ng-controller=PatronsCtrl] {
	
	background-color: $white;
	
	patron-block {
		display: flex;
		justify-content: space-between;
		padding: $padding-large;

		@media(max-width: $screen-med) {
			flex-wrap: wrap;


			& > div.patron-block-image, & > div.patron-block-package, & > div.patron-block-price {
				width: 100%;
				padding-left: 0;
				margin-top: $padding;
			}
		}

		&:nth-child(even) {
			background-color: $light-grey;
		}

		.patron-block-image {
			width: 30%;

			img {
			    max-width: 100%;
			}
		}

		.patron-block-package {
			padding-left: $padding-large;
			width: 50%;
		}

		.patron-block-price {
			padding-left: $padding-large;
			width: 20%;
		}

	}

	p {
		margin: 0;
	}

	ul {
		margin-top: 0;
		padding: 0 20px;
	}

	.supporters-white-section {
		padding: $padding-large;
		color: $grey;

		.c3 {
			text-align: center;

			img {
				padding: 72px 0;
		    	width: 300px;
			}
		}

		.supporters-list {
			margin-bottom: $padding-large;
		}

		.supporters {
			display: flex;
			align-items: center; 
			justify-content: center;

			img {
				width: calc((100% / 3) - (#{$padding-small} * 2));
				padding: $padding-small;

				@media(min-width: $screen-med) {
					padding: $padding-quite-large;
					width: 100px;
				}
			}
		}
	}
}