div[ng-controller=TeamCtrl] {
	
	.team-holder {
		padding: $padding-large;
		
		@media(min-width: $screen-med) {
			display: flex;
			flex-wrap: wrap;
		}

		team-member {
			padding: $padding;
			width: calc(33% - #{$padding} - #{$padding});

			img {
				border-radius: 50%;
			    width: 250px;
				height: 250px;
			}

			.team-member-name {
				color: $green;
				font-size: $font-size-large;
			}	

			.team-member-title {
				color: $grey;
				font-size: $font-size;
			}

			.team-member-about {
				@media(max-width: $screen-med) {
					margin-bottom: $padding-large;
				}

			}
		}
	}
	
}