body {
	margin: 0;
	color: $black;
	font-family: $font-sofia;
	font-size: $font-size-small;
	
	div[ui-view=contentView] {
		background-color: $light-grey;
	}

	div[ng-controller=PageCtrl] {
		position: relative;
	}

	@media(min-width: $screen-med) {
		font-size: $font-size-sm-base;
	}

	@media(min-width: $screen-large) {
		font-size: $font-size-base;
	}
	
	button, .button {
		background-color: $green;
		color: $black;
		border-radius: $padding;
		border: 0;
		padding: $padding-very-small $padding-small;

		@media(max-width: $screen-med) {
			padding: 6px 12px;
		}
	
		&.black {
			background-color: $black;
			color: $white;
		}
	}

	a {
		text-decoration: none;
	}

	.bold {
		font-weight: bold;
	}

	header {

		padding: $padding-large;
		position: relative;
		overflow: visible;

		@media(max-width: $screen-med) {
			height: 120px;
			padding: 0 $padding-large;
		}

		.header-top {
			display: none;

			@media(min-width: $screen-med) {
				display: flex;
				justify-content: space-between;
				color: $mid-grey;
			}

			.social-icons {
				a {
				    font-size: 30px;
				    color: $mid-grey;
				}
			}

			.donate-contact a {
			    color: inherit;
			}
		}

		.header-title {
			text-align: center;
			font-family: $font-gothic;

			@media(max-width: $screen-med) {
				padding-top: 49px;
			}

			a {
				display: block;

				img {
					height: 72px;
				}
			}
		}

		.header-links {
			text-align: center;
			margin-top: 30px;
			font-family: $font-gothic;
			font-size: $font-size;
			
			a {
				color: $green;
				@extend .bold;
				transition: color 0.2s linear;

				&.active {
					color: $black;
				}

				&:not(:last-of-type) {
					margin-right: $padding-small;	
				}
			}

			@media(max-width: $screen-med) {
				display: none;
			}
		}

		.header-mobile-link-toggle {
			position: absolute;
			top: 0;
			right: 0;
			width: 60px;
			height: 60px;
			padding: 30px 18px;
			cursor: pointer;
			z-index: 3;

			img {
				width: 100%;
			}

			@media(min-width: $screen-med) {
				display: none;
			}
		}
	}

	overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $green-opacity;
    	z-index: 2;

		div {
			width: 100%;
			height: 100%;
			padding-top: 100px;

			a {
				font-size: $font-size-big;
				text-decoration: none;
				color: $white;
				border-bottom: solid 1px $white;
				padding: $padding-small 0 0 0;
				margin: 0 $padding;
				display: block;
			}
		}
	}

	footer {
		background-color: $black;
		color: $grey;
		padding: $padding $padding-large;
	}

	green-section {
		display: flex;
		position: relative;
		
		.green-block {
			padding: $side-padding $padding-large;
			background-color: $green;
			color: $white;
			height: 300px;
			width: 50%;
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			button, .button {
				margin-top: auto;
			}
		}

		.green-triangle {
			$length-of-triangle-side: 244.796514136px / 2;
			position: absolute;
			top: 0;
			left: calc(50% - #{$length-of-triangle-side} + #{$padding-large});
			width: 0;
			height: 0;
			border-left: $length-of-triangle-side solid transparent;
			border-right: $length-of-triangle-side solid transparent;
			border-top: calc(300px + #{$side-padding} + #{$side-padding}) solid $green;

			@media(max-width: $screen-med) {
				display: none;
			}
		}

		.green-block-img {
			width: 50%;
			background-size: cover;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 $padding 0;
	}

	@media(min-width: $screen-med) {
		.main-content {
			transition: opacity 0.5s linear;
			transition-delay: 0.1s;
			opacity: 0;

			&.show {
				opacity: 1;		
			}
		}
	}
	h1 {
	    margin-top: -$padding-very-small;
	    font-size: $font-size;
		line-height: $font-size;
		
 		@media(min-width: $screen-med) {
			font-size: $font-size-large-big;
			line-height: $font-size-large-big;
		}

 		@media(min-width: $screen-large) {
			font-size: $font-size-large;
 			line-height: $font-size-large;
		}
	}

	h3 {
		font-size: $font-size;
		line-height: $font-size;
	}
}