$padding-very-large: 72px;
$padding-quite-large: 60px;
$padding-large: 48px;
$padding: 24px;
$padding-small: 12px;
$padding-very-small: 6px;

$side-padding: $padding + $padding-small;

$font-size-very-large: 60px;
$font-size-large: 48px;
$font-size-large-big: 42px;
$font-size-big: 36px;
$font-size: 24px;
$font-size-base: 18px;
$font-size-sm-base: 14px;
$font-size-small: 12px;

$black: black;
$white: white;
$green: rgb(153, 189, 141);
$green-opacity: rgba(153, 189, 141, 0.8);
$darker-green: rgb(51, 62, 51);
$light-grey: rgb(233, 233, 233);
$mid-grey: rgb(191, 191, 191);
$grey: grey;
$gold: rgb(212, 195, 147);
$silver: rgb(205, 212, 217);


$font-sofia: "sofia-pro";
$font-gothic: "trumpgothicpro";

$screen-med: 600px;
$screen-large: 900px;