// global overrides
@import "variables";

// application scss
@import "body";
@import "views/home";

@font-face {
   font-family: 'univers';
   src: url("../fonts/UniversCom-57Condensed.ttf");
}
@font-face {
   font-family: 'univers-bold';
   src: url("../fonts/UniversCom-67BoldCond.ttf");
}