<div ng-controller="CourseCtrl">

	<green-section img="greenContent.img" copy="greenContent.copy"></green-section>
	
	<div class="main-content" scroll ng-class="{show: boolChangeClass}">
	
		<div>
			<h3>Foundation Property Maintenance Course</h3>

			<p>
				Our course is a multi-disciplinary programme which covers a range of property maintenance skills including repairing/maintaining walls and internal/external fixtures and fittings, plumbing, tiling, and painting and decorating.
			</p>

			<p>
				No previous experience or qualifications are necessary. Our training areas have been specially designed to reflect a live working environment.
			</p>

			<h3>Course Breakdown</h3>

			<p class="bold">How long is the course?</p>

			<p>
				The course is an intensive 5 week foundation course.
			</p>

			<p class="bold">What will I learn?</p>

			<p>
				Your training will include the following elements

				<ul>
					<li>
						Health safety and welfare in construction
					</li>
					<li>
						Sustain ability in the construction Industry
					</li>
					<li>
						Repair and maintain masonry structures
					</li>
					<li>
						Maintain and repair internal and external fixtures and fittings 
					</li>
					<li>
						Painting and decorating
					</li>
					<li>
						Domestic plumbing
					</li>
					<li>
						Introduction to self-employment or
					</li>
					<li>
						Building a personal career portfolio 
					</li>
					<li>
						CSCS training and examination
					</li>
				</ul>
			</p>	

			<p class="bold">What are the qualifications?</p>

			<p>
				The initial five week course is a non-accredited programme, although you will achieve a Level 1 Health and Safety in the Construction Environment and your Construction Skills Certification Scheme (CSCS) card, essential for working in the construction industry.
			</p>

			<p>
				Our training can prepare you for a Level 2 or 3 qualification in multi-trades or a single discipline.
			</p>

			<p class="bold">What happens after the course?</p>

			<p>
				This will depend on your personal situation and your career ambitions. We aim to support you into a career in the building trades, whether that is as an employee or self-employed, and will provide guidance and advice appropriate to your needs.
			</p>

			<p class="bold">Is the course residential?</p>
			
			<p>
				Yes the course is residential. Monday–Friday with all food provided.
			</p>

			<p class="bold">How long is a day’s training?</p>

			<p>
				Your day will start at 8:30 am and will finish around 4pm. You may be required to study in the evenings and weekends.
			</p>

			<a class="button" href="documents/application-form.docx" target="_blank" download>DOWNLOAD APPLICATION FORM</a>
		</div>
		<div>
			<img src="images/three-men.jpg" />
		</div>
	</div>
</div>