<div ng-controller="EventsCtrl">

	<green-section img="greenContent.img" copy="greenContent.copy"></green-section>
	
	<div class="main-content" scroll ng-class="{show: boolChangeClass}">
		<div ng-class="{single: events.length <= 1}">
			<h3>Information</h3>
			<h1>{{events[activeEventInd].title}}</h1>

			<p ng-repeat="para in events[activeEventInd].descPara" ng-bind-html="para"></p>
			
			<div class="event-info-container">
				<div>
					<h3>Date</h3>
					{{events[activeEventInd].date}}
				</div>
				<div>
					<h3>Time</h3>
					{{events[activeEventInd].time}}
				</div>
				<div>
					<h3>Location</h3>
					{{events[activeEventInd].location}}
				</div>
				<div>
					<h3>Further Info</h3>
					{{events[activeEventInd].furtherInfo}}
				</div>
				<div>
					<h3>Contact</h3>
					{{events[activeEventInd].contact}}
				</div>
			</div>
			<img class="event-info-img" src="{{events[activeEventInd].img}}" />
		</div>
		<div ng-class="{hide: events.length === 1}">
			<h3>Upcoming Events</h3>

			<div ng-repeat="event in events" ng-click="changeEvent($index)" class="events-brief" ng-class="{active: activeEventInd === $index}">
				<h2>{{:: event.title}}</h2>
				<div>{{:: event.date}}</div>
				<div>{{:: event.location}}</div>
			</div>
		</div>
	</div>	
</div>