<div id="home-ctrl" ng-controller="HomeCtrl">

	<div id="video-holder">
		<video id="main-splash-video" poster="images/videoplaceholder.png" muted="true" loop autoplay>
			<source src="videos/timelapseclouds-min.mp4" type="video/mp4" poster="images/videoplaceholder.png">
			Your browser does not support the video tag.
		</video>

		<div id="main-content">
			<label for="place-input">
				Use your location or find the weather in a place below:
			</label>

			<input id="place-input" type="text" g-places-autocomplete ng-model="placeVar" />

			<div id="weather-text" ng-if="weather.current && weather.current != ''">
				<span ng-if="fromGeo">Where you are (in {{location}}) is experiencing {{weather.current}}</span>
				<span ng-if="!fromGeo">{{weather.current | capitalise}}</span>
				<img ng-src="http://openweathermap.org/img/w/{{weather.icon}}.png">
			</div>

			<div id="forecast" ng-class='{show: weather.list.length !== 0}'>
				<weather ng-repeat="weather in weather.list" weather="weather"></weather>
			</div>
		</div>
	</div>
	
</div>