<div ng-controller="PatronsCtrl">

	<green-section img="greenContent.img" copy="greenContent.copy"></green-section>
	
	<div class="main-content" scroll ng-class="{show: boolChangeClass}">
		
		<patron-block ng-repeat="patron in patronTypes" patron="patron"></patron-block>

		<div class="supporters-white-section main-content" scroll ng-class="{show: boolChangeClass}">
			<h2>Current supporters</h2>
			
			<div>Building Heroes Patrons</div>
			
			<div class="c3">
				<img src="images/c3logo-green.jpg" />
			</div>

			<div class="supporters-list">Building Heroes Supporters</div>
			
			<div class="supporters">
				<img src="images/cc.png" />
				<img src="images/eu.png" />
				<img src="images/wates.png" />
			</div>
			<div class="supporters">
				<img src="images/gatwick.png" />
				<img src="images/wscc.png" />
				<img src="images/tw.png" />
			</div>
			<div class="supporters">
				<img src="images/ec.png" />
				<img src="images/nocn.png" />
				<img src="images/nus.png" />
			</div>
		</div>
	</div>	
</div>