<div ng-controller="TestimonialsCtrl">

	<green-section img="greenContent.img" copy="greenContent.copy"></green-section>
	
	<div class="two-cols main-content" scroll ng-class="{show: boolChangeClass}">
		<div>
			<div class="testimonal-img"></div>
			<h1>Mark &apos;Lofty&apos; Taylor</h1>
			<p>
				Mark served in the army for 25 years before being medically discharged
in 2013. His final operation took place in Iraq in 2004 where Mark and his
fellow comrades came under sustained fire for six weeks, during this horrific
time Mark unfortunately lost a good friend. Returning from Iraq, Mark was
diagnosed with severe post-traumatic stress disorder, due to anger and
depression. Mark openly confessed he couldn’t be a solider anymore, as
well as the husband and father he once was. This had a dramatic impact on
Mark resulting in a suicide attempt and an 8 week hospital stay.
			</p>

			<p>
				Mark was placed with Help for Heroes for his last year in the army. Help
for Heroes helped Mark decide his next steps in employment, where Mark
realised the construction industry was his next career path. Mark decided
to set up his own business called ‘Hero Handy Man’. However without
qualifications or expert experience, doubts started to run through his mind.
Mark was put into touch with Building Heroes. Mark is very grateful for the
help he has received &quot;Thank you to the people who supplied the funding for
Building Heroes. It has allowed me to enter back into the job market which
is absolutely fantastic, I am looking forward to what the future holds&quot;
			</p>
		</div>
		<div>
			<div class="testimonal-img"></div>
			<h1>Thomas Anas Al-Hammri</h1>
			<p>
				Thomas left the army in 2014 after serving 4 years in the 2nd Battalion
York Regiment. After leaving, Thomas faced some difficult times such
as his marriage breakdown. Thomas moved into supported housing
after he was left with nothing. This is where he found out about Building
Heroes, which looking back now he says has changed his life.
			</p>

			<p class="green-big">
				&apos;BUILDING HEROES HAS PUT ME BACK ON MY CAREER
PATH, AND I THANK EVERYONE FOR DOING THAT.&apos;
			</p>

			<p>
				Thomas is very grateful to everyone who’s supported him and believes
that &apos;Building Heroes has put me back on my career path, and I thank
everyone for doing that.&apos; Thomas has now graduated, and is currently
working for a construction company in Middlesbrough and raising
money for the charity. &apos;I really believe in Building Heroes and I want to
help make it bigger and better&apos;
			</p>
		</div>
	</div>
</div>