<div>
	<a ng-class="{active: state === 'COURSE'}" ui-sref="COURSE" ng-click="visible = !visible" href="#">Course</a>
	<a ng-class="{active: state === 'TESTIMONIALS'}" ui-sref="TESTIMONIALS" ng-click="visible = !visible" href="#">Testimonials</a>
	<a ng-class="{active: state === 'PATRONS'}" ui-sref="PATRONS" ng-click="visible = !visible" href="#">Patrons</a>
	<a ng-class="{active: state === 'TEAM'}" ui-sref="TEAM" ng-click="visible = !visible" href="#">Team</a>
	<a ng-class="{active: state === 'EVENTS'}" ui-sref="EVENTS" ng-click="visible = !visible" href="#">Events</a>
	<a href="https://www.pledgit.net/campaign/wXTzL/heroes-on-and-off-the-pitch" target="_blank">Donate</a>
	<a href="mailto:info@buildingheroes.org.uk?Subject=Enquiry" target="_top">Contact</a>
</div>